body {
    background-color: #FBA6C9;
    color: white;
    font-family: sans-serif, serif;
}

#darktxt {
    color: black;
}
#numList{
    text-align: left;
}
.center {
    margin: auto;
    text-align: center;
    max-width: 65%;
}

ol {
    display: inline-block;
    color: black;
}
img {
    max-width: 20%;
}

h1:hover {
    color: black;
}
h2 {
    font-size:xx-large;
}
